matplotlib
pydot
tqdm
ipywidgets
tensorflow-io
tensorflow-addons
tensorflow-probability
git+https://github.com/tensorflow/docs
joblib
opencv-python
opencv-contrib-python
# scikit-video
# scikit-image
# scikit-learn
# jupyterlab
# face_recognition
# torch
# torchvision
# torchaudio
mediapipe
# git+https://github.com/andresprados/SPIGA.git
# git+https://github.com/FacePerceiver/facer.git@main
