jupyterlab
scikit-video
matplotlib
scikit-image
scikit-learn
imageio
git+https://github.com/tensorflow/docs
pydot
tqdm
ipywidgets
tensorflow-io
tensorflow-addons
joblib
torch
torchvision
torchaudio
opencv-python
git+https://github.com/andresprados/SPIGA.git
git+https://github.com/FacePerceiver/facer.git@main
